<mat-toolbar class="flex flex-wrap items-center">
  <button mat-icon-button (click)="start.toggle()" class="mr-2">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-grow"></span>
  <!--<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon routerLinkActive="primary">person</mat-icon>
      <span routerLinkActive="primary">Profile</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>input</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>-->
</mat-toolbar>
